<%- include('partials/header.ejs') %>
<body>
<section class="ftco-section">
<div class="container">

<div class="row justify-content-center contactrow">
  <div class="col-lg-5">
  <p class ="contactintro">
  if you have any  query, fill this form and lets have a chit chat.
  <br>
  Lets Connect
  </p>
  <p style="text-align:center">

 <a href="mailto: kvanshika4@gmail.com" style="color:#fb3958"><i class="fab fa-google fa-2x"></i></a>
 <a href="https://www.linkedin.com/in/vanshika-kapoor-85a190190/" style="color:#0072B1" ><i class="fab fa-linkedin fa-2x"></i></a>
 <a href="https://www.instagram.com/kvanshika10"><i class="fab fa-instagram fa-2x"></i></a>

  <a href="https://github.com/kvanshika10" style="color:black"><i class="fab fa-github fa-2x"></i></a>

  </p>
    </div>
<div class="col-lg-6">
<div class="row">
<div class="col-md-7 col-lg-9">
<div class="contact-wrap w-100 p-md-5 p-4">
<h1>Get in touch with me</h1>
<div id="form-message-warning" class="mb-4"></div>
<form method="post" action="mailto: kvanshika4@gmail.com?subject=portfolioContactform" id="contactForm" name="contactForm" class="contactForm">
<div class="row">
  <div class="col-md-6">
<div class="form-group">
<label class="label" for="name" style="color:#fffbf0">Full Name</label>
<input type="text" class="form-control" name="name" id="name" placeholder="Name">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label class="label" for="email" style="color:#fffbf0">Email Address</label>
<input type="email" class="form-control" name="email" id="email" placeholder="Email">
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<label class="label" for="subject"  style="color:#fffbf0">Subject</label>
<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<label class="label" for="#"  style="color:#fffbf0">Message</label>
<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<input type="submit" value="Send Message" class="btn btn-primary">
<div class="submitting"></div>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<script src="js/jquery.min.js"></script>
<script src="js/popper.js+bootstrap.min.js.pagespeed.jc.AFSVmLdb8U.js"></script><script>eval(mod_pagespeed_5K7GDq6iGR);</script>
<script>eval(mod_pagespeed_LEhWJEe_7R);</script>
<script src="js/jquery.validate.min.js+main.js.pagespeed.jc.4W0tUB5zoR.js"></script><script>eval(mod_pagespeed_eCGu3uTSR_);</script>
<script>eval(mod_pagespeed_JV7F8gjid9);</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"6857b8d06f253dac","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.8.1","si":10}'></script>
<%- include('partials/footer.ejs') %>
